{%extends "header.html"%}
{%set active_page = 'about'%}

{% block content %}

<div class="ui inverted  huge segment" style="background-color:black;margin-left:5%;margin-right:5%;margin-top:2%;" >
    <div class="ui inverted icon header">
        Meet Our Team !!!!!
    </div>
    <div class="inline">
        <img src="../static/images/akanksha.png" style="width:100px;border-radius:50%;" hspace="18%">
        <img src="../static/images/akanksha.png" style="width:100px;border-radius:50%;" >
        <img src="../static/images/akanksha.png" style="width:100px;border-radius:50%;" hspace="18%">
    </div>
    

        <div class="ui inverted icon header" style="margin-bottom:-3%;">
            <p align="left" style="font-family:'Bradley Hand ITC'; font-size:x-large;">
                We are just a bunch of crazy-lazy youths !!!!! <br /><br />
                Year 2013: We graduate with with acceptable 10th marks <br />
                Year 2015: We all start stressing about our 12th and CET, some ace it and other write PESSAT, all in eager to join PES! <br />
                And here we are, coming from different part of the state, now classmates in this big Hi-Tech city! <br />
                Year 2018: We all are in our final Year, studying WT2 as core, having the best Professor PES had in it's History! Lucky Ha???<br /><br /> All unanimously voting to create this website you're in! <br />
                Enjoy!!! We hope this website helps you in solving equations and you never know, you might also end up here in PES:) <br />
            </p>
        </div> <!-- I put the /div here and removed  class="ui inverted icon header" from above div-->
    
</div>

{% endblock %}
